/* CSS Resets */
body,
ol,
h2,
button {
  margin: unset;
  padding: unset;
}

li {
  list-style: none;
}

h1,
h2 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}

/* Layout */
.l_wrapper {
  width: auto;
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
}

/* Typography */
:root {
  font-family: "Montserrat", sans-serif;
}

/* Design */
body {
  background-color: #006aff;
}

.timeline {
  background-color: rgba(255, 255, 255, 0.2);
}

.timeline-header {
  padding: 50px 0;
}

.timeline-header h1 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.timeline-contents {
  padding-bottom: 30px;
}

/* 타임라인의 전반적인 레이아웃을 담당 */
.timeline-lists {
  margin: 0 -20px;
}

.timeline-lists .list-item {
  width: 50%;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: -100px;
}

.timeline-lists li:nth-child(even) {
  margin-left: auto;
}

.timeline-lists .list-item:last-child {
  margin-bottom: unset;
}

/* 실제 눈에 보이는 컴포넌트 (독립성) */
.timeline-lists .list-item div {
  width: auto;
  padding: 40px;
  min-height: 250px;
  background-color: white;
  border-radius: 30px;
}

.list-item .list-item-year {
  font-size: 30px;
  font-weight: 600;
  color: #368edf;
  margin-bottom: 15px;
}

/* Media Query */
@media (max-width: 600px) {
  .timeline-header h1 {
    font-size: 30px;
    padding: 10px;
  }
  .timeline-lists .list-item {
    width: unset;
    margin-bottom: 30px;
  }
}
