/* CSS Resets */
body,
ol,
h2,
button {
  margin: unset;
  padding: unset;
}

li {
  list-style: none;
}

h1,
h2 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}

/* Layout */
body {
  background-color: #006aff;
}

.l_wrapper {
  width: auto;
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
}

/* Typography */
:root {
  font-family: "Montserrat", sans-serif;
}

/* Design */
.timeline {
  background-color: rgba(255, 255, 255, 0.2);
}

.timeline-header {
  padding: 50px 0;
}

.timeline-header h1 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.timeline-contents {
  padding-bottom: 30px;
  margin: 0 -20px;
}

.timeline-lists li {
  width: 50%;
}

.timeline-lists li:nth-child(even) {
  margin-left: auto;
}

.list-item .list-item-year {
  font-size: 30px;
  font-weight: 600;
  color: #368edf;
  margin-bottom: 15px;
}

.timeline-lists .list-item div {
  margin: 0px 20px -50px 20px;
  background-color: white;
  padding: 30px 25px;
  border-radius: 10px;
}
.timeline-lists .list-item:last-child div {
  margin-bottom: unset;
}

/* Media Query */
@media (max-width: 600px) {
  .timeline-header h1 {
    font-size: 30px;
  }
  .timeline-lists li {
    width: auto;
  }
  .timeline-lists .list-item div {
    margin-bottom: 30px;
  }
}
