/* CSS Resets */
body {
  margin: unset;
}

/* Layouts */
.l_wrapper {
  max-width: 1080px;
  margin: 0 auto;
  box-shadow: inset 0 0 20px gold;
}

/* Variables */
:root {
  /* Color */
  --color-purple: #6230a2;
  --color-beige: #fff5ed;
}

/* Components */
.type-purple {
  background-color: var(--color-purple);
}

.type-beige {
  background-color: var(--color-beige);
}

.section-header {
  box-shadow: inset 0 0 20px red;
}

.section-contents {
  box-shadow: inset 0 0 20px blue;
}
