/* CSS Resets */
body {
  margin: unset;
}

/* Layouts */
.l_wrapper {
  max-width: 1080px;
  margin: 0 auto;
  box-shadow: inset 0 0 20px gold;
}

/* Variables */
:root {
  /* Color */
  --color-purple-20: #ebdbff;
  --colro-purple-50: #c89dff;
  --color-purple-100: #6230a2;
  --color-beige: #fff5ed;
}

/* Components */
.type-purple {
  background-color: var(--color-purple-100);
}

.type-beige {
  background-color: var(--color-beige);
}

.section-header {
  box-shadow: inset 0 0 20px red;
  padding-top: 92px;
}

.section-contents {
  box-shadow: inset 0 0 20px yellow;
  padding: 100px 0;
}
