@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS Resets */
body,
p,
ul {
  margin: unset;
  padding: unset;
}

li {
  list-style-type: none;
}

h1,
h2,
strong {
  font-size: unset;
  font-weight: unset;
  margin: unset;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/* Variables */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-beige: #fff5ed;
  --color-purple-20: #ebdbff;
  --colro-purple-50: #c89dff;
  --color-purple-100: #6230a2;
  --color-red-50: #f98173;
  --color-red-100: #ff4500;
  --color-gray-30: #eeeeee;
  --color-gray-50: #999999;
  --color-gray-90: #111111;
  --color-gray-100: #000000;
  --color-gray-100-rgb: 0 0 0;
}

/* Typography */
:root {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

/* Layouts */
.l_wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 40px;
}

.l_grid {
  display: grid;
}

.l_grid.type-rows {
  grid-template-rows: repeat(3, minmax(0, 1fr));
  row-gap: 30px;
}

.l_grid.type-columns {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 30px;
}

/* Re-usable components */
.button {
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #ff4500;
  padding: 0 14px;
  line-height: 2.75em;
  border-radius: 4px;
}

/* Components */
.type-purple {
  background-color: var(--color-purple-100);
}

.type-beige {
  background-color: var(--color-beige);
}

.section-header {
  padding-top: 92px;
  display: flex;
  align-items: center;
}

.section-title {
  font-size: 4rem;
  line-height: 1.1;
  color: var(--color-white);
  position: relative;
  z-index: 0;
  flex-shrink: 0;
}

.section-header strong {
  font-weight: bold;
  width: fit-content;
  position: relative;
  z-index: 2;
}

.section-title strong::after {
  content: "";
  width: 100%;
  height: 26px;
  background-color: var(--color-red-100);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.header-description {
  font-size: 1.4rem;
  max-width: 582px;
  display: flex;
  align-items: center;
  color: var(--colro-purple-50);
}

.header-description::before {
  content: "";
  width: 90px;
  height: 1px;
  background-color: currentColor;
  margin: 0 32px 0 22px;
  flex-shrink: 0;
}

.section-contents {
  padding: 100px 0;
}

.card-rows {
  display: flex;
  width: auto;
}

.card-rows-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  width: 280px;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4.4rem;
  background-image: url("images/photo01.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.card-rows-cover::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgb(var(--color-gray-100-rgb) / 0.3);
  position: absolute;
  z-index: -1;

}

.card-rows-cover.craft {
  background-image: url("images/photo02.png");
}
.card-rows-cover.scrap {
  background-image: url("images/photo03.png");
}

.card-rows-contents {
  display: grid;
  flex-grow: 1;
  min-width: 0;
  padding: 16px 21px 21px;
  background-color: var(--color-white);

  align-content: center;
}

.card-rows-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-purple-100);
  margin-bottom: 14px;
}

.card-rows-list {
  display: grid;
  row-gap: 12px;
}

.card-rows-list li {
  font-size: 1.4rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto minmax(0, 1fr);
  align-items: center;
}

.card-rows-list li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--colro-purple-50);
  margin-right: 14px;
}

.card-rows:nth-child(even) {
  flex-direction: row-reverse;
}

.type-beige .section-title {
  color: var(--color-red-50);
  flex-grow: 1;
}

.type-beige .section-title strong::after {
  background-color: var(--color-white);
}

.card {
  box-shadow: 0 0 12px 0 rgb(var(--color-gray-100-rgb) / 0.2);
  display: grid;
  background-color: var(--color-white);
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto 1fr minmax(64px, auto);
}

.card:first-child .card-cover::before {
  content: "";
  display: block;
  position: absolute;
  left: -10px;
  top: -10px;
  background-image: url("images/badge.png");
  width: 110px;
  height: 110px;
}

.card-cover {
  aspect-ratio: 1.333 / 1;
  position: relative;
  background-image: url("images/cover01.png");
  background-size: cover;
  border-bottom: 4px solid var(--color-gray-100);
}

.card:nth-child(2) .card-cover {
  background-image: url("images/cover02.png");
}
.card:nth-child(3) .card-cover {
  background-image: url("images/cover03.png");
}

.card-contents {
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.card-contents .tag {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.card-contents .tag a {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 2px 12px 3px;
  color: var(--color-purple-100);
  background-color: var(--colro-purple-50);
  border-radius: 12px;
}

.card-contents h2 {
  font-size: 2.4rem;
  font-weight: bold;
}

.card-contents p {
  font-size: 1.4rem;
  line-height: 1.57;
}

.card-footer {
  padding: 14px 20px 16px 0;
  margin-left: 20px;
  display: flex;
  border-top: 4px solid var(--color-gray-30);
  align-items: center;
}

.card-footer-text {
  font-size: 1.4rem;
  color: var(--color-gray-50);
}

.card-footer-icons {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.card-footer-icons img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  margin-right: -6px;
}

.card-footer-icons img:last-child {
  margin-right: unset;
}

/* Media query */
@media (max-width: 710px) {
  .section-contents {
    padding: 30px 0;
  }
  .section-header {
    padding-top: 45px;
    flex-direction: column;
  }
  .section-header .header-title {
    margin-bottom: 20px;
  }
  .header-description {
    padding: 0 20px;
  }
  .header-description::before {
    display: none;
  }
  .l_grid.type-rows .card-rows {
    flex-direction: column;
  }

  .card-rows .card-rows-cover {
    width: auto;
    padding: 15px 0;
  }
}