/* CSS Resets */
body,
p {
  margin: unset;
}

h1 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}

/* Typography */
:root {
  font-family: "Arial";
}

/* Layout */
.l_wrapper {
  width: 960px;
  background-color: white;
  margin: 0 auto;
}

/* Components */
body {
  background-image: url("./images/header-bg.png");
}

.main {
  margin-top: 100px;
  border: 30px solid #ffa500;
  background-image: url("./images/container-bg.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.nav {
  box-shadow: inset 0 0 10px blue;
}

.footer {
  box-shadow: inset 0 0 10px peru;
}
