/* CSS Resets */
body,
p,
hr {
  margin: unset;
}

h1 {
  font-size: unset;
  font-weight: unset;
  margin: unset;
}

/* Typography  */
:root {
  font-family: "Arial";
}

/* Layout */
body {
  background-color: #dddddd;
}

.wrapper {
  width: 300px;
  margin: 258px auto;
}

/* Design */
.pokemoncard {
  text-align: center;
}

.pokemoncard-contents {
  background-color: #ffffff;
  padding: 78px 20px 44px;
}

.pokemoncard-contents h1 {
  font-size: 36px;
  font-weight: bold;
  color: #f2aa36;
  margin-bottom: 4px;
}

.pokemoncard-contents hr {
  width: 77px;
  height: 4px;
  border: 0;
  background-color: #f2aa36;
  display: inline-block;
  border-radius: 6px;
}

.pokemoncard-contents .pokemon-name {
  color: #f2aa36;
  font-weight: bold;
}

.pokemoncard-contents p:not(.pokemon-name) {
  color: #888888;
}

.pokemoncard-footer {
  padding: 15px 0;
  background-color: #eeeeee;
}
.pokemoncard-footer img {
  margin-right: 4px;
}
.pokemoncard-footer img:last-child {
  margin: 0;
}
