/* CSS Resets */
body,
ul {
  margin: unset;
  padding: unset;
}

h1 {
  font-size: unset;
  font-weight: unset;
  margin: unset;
}

ul {
  list-style-type: none;
}

/* Typography */
:root {
  font-family: Arial;
}

/* Layout */
body {
  background-color: #d9d9d9;
}

.wrapper {
  width: 448px;
  margin: 110px auto;
}

/* Design */
.bucketlist {
  background-color: #eeeeee;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.bucketlist-header {
  padding: 46px 0;
  background-color: #ffffff;
  border-bottom: 4px solid #dddddd;
}

.bucketlist-header .bucketlist-header-squre {
  background-color: #ff007a;
  width: 8px;
  height: 32px;
  display: inline-block;
  vertical-align: bottom;
  border-radius: 0 10px 10px 0;
}

.bucketlist-header h1 {
  display: inline-block;
  font-size: 24px;
  color: #ff007a;
  margin-left: 31px;
  line-height: 32px;
}

.bucketlist-contents {
  padding: 36px 38px 38px;
}

.lists li {
  padding: 15px 34px 15px 14px;
  box-sizing: border-box;
  margin-bottom: 14px;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 4px #d9d9d9;
  border-radius: 10px;
  color: #888888;
  background-image: url("./images/check.svg");
  background-repeat: no-repeat;
  background-position: right -100px center;
  transition: 0.5s ease-in-out;
}

.lists li:hover {
  border-color: currentColor;
  box-shadow: inset 0 0 0 2px #759cff, 0 4px 4px 0 rgb(0 0 0/0.1);
  color: #759cff;
  background-image: url("./images/check.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  box-shadow: #759cff;
  margin: 0 -15px 14px;
}

.lists li:last-child {
  margin-bottom: 0;
}
