/* CSS Resets */
body {
  margin: unset;
}

/* Layouts */
.l_wrapper {
  box-shadow: inset 0 0 20px red;
  width: 500px;
  margin: 0 auto;
}

/* Design */
body {
  background-color: #969696;
}

.halloween {
  /* background-image: url("images/bg.png"); */
}

.halloween-header {
  box-shadow: inset 0 0 20px yellow;
}

.halloween-main {
  box-shadow: inset 0 0 20px blue;
}

.halloween-footer {
  box-shadow: inset 0 0 20px purple;
}
