/* CSS Resets */
body,
p,
ul {
  margin: unset;
  padding: unset;
}

h1,
h2 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}

li {
  list-style-type: none;
}

img {
  vertical-align: bottom;
}

/* Typography */
:root {
  font-family: "Montserrat", sans-serif;
}

/* Layouts */
body {
  background-image: url("images/background.png");
}

.l_wrapper {
  max-width: 1076px;
  margin: 100px auto;
  /* 새로고침 할 때마다 아래로 내리기 싫어서 임시로 100px 만 줬다 */
}

.l_row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.l_col {
  width: calc(100% / 6);
  padding: 0 8px;
  box-sizing: border-box;
}

.l_col img {
  width: 100%;
}

/* Re-usable Components */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  height: 22px;
  line-height: 120%;
  letter-spacing: 0.18em;
  border-radius: 2px;
}

/* Componenets */
.mugapp {
  display: flex;
  border-radius: 6px;
  overflow: hidden;
}

.sidebar {
  flex-shrink: 0;
  width: 244px;
  min-width: 244px;
  height: 539px; /* 임시로 고정 높이 부여 */
  padding: 16px;
  background-image: url("images/sidebar-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.sidebar_logo {
  display: flex;
  align-items: flex-start;

  margin-bottom: 7.5px;
}

.sidebar_logo h1 {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  border-bottom: 8px solid #444444;
}

.sidebar_logo img {
  width: 79px;
  margin-left: auto;

  margin-top: -26px;
}

.sidebar p {
  color: #999999;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 26px;
}

.sidebar_link {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.btn_blue {
  color: white;
  background-color: #0468ff;
}
.btn_gray {
  color: #333333;
  background-color: #d9d9d9;
}

.main {
  box-shadow: inset 0 0 20px blue;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  background-color: white;
}

.list {
  box-shadow: inset 0 0 20px red;
}

.list_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #666666;
  border-bottom: 8px solid #eeeeee;
  margin-bottom: 16px;
}

.list_header h2 {
  font-size: 24px;
  font-weight: bold;
}

.list_header span {
  padding: 4px 11px;
  font-size: 10px;
  font-weight: bold;
  background-color: #eeeeee;
  border-radius: 56px;
}
