/* CSS Resets */
body,
ul {
  margin: unset;
  padding: unset;
}

h1 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}

li {
  list-style-type: none;
}

/* Typography */
:root {
  font-family: "arial";
}

/* Layouts */
.l_wrapper {
  max-width: 1100px;
  margin: 0 auto;
  box-shadow: inset 0 0 20px purple;
}

.l_row {
  display: flex;
  margin: 0 -15px;
}

.l_col {
  box-shadow: inset 0 0 20px red;
  width: calc(100% / 3);
  padding: 0 15px;
}

/* 12 Grid System을 위한 클래스 */
.l_col_12_12 {
  width: 100%;
}
.l_col_11_12 {
  width: 91.66666667%;
}
.l_col_10_12 {
  width: 83.33333333%;
}
.l_col_9_12 {
  width: 75%;
}
.l_col_8_12 {
  width: 66.66666667%;
}
.l_col_7_12 {
  width: 58.33333333%;
}
.l_col_6_12 {
  width: 50%;
}
.l_col_5_12 {
  width: 41.66666667%;
}
.l_col_4_12 {
  width: 33.33333333%;
}
.l_col_3_12 {
  width: 25%;
}
.l_col_2_12 {
  width: 16.66666667%;
}
.l_col_1_12 {
  width: 8.33333333%;
}

/* Components */
body {
  background-color: #d9d9d9;
}

.header {
  /* box-shadow: inset 0 0 20px red; */
  padding: 30px 0;
  background-color: white;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-container h1 {
  font-size: 24px;
  font-weight: bold;
  color: #ff6600;
}

.header-container img {
  width: 124px;
  margin-left: auto;
}

.main {
  box-shadow: inset 0 0 20px blue;
}

.menucard {
  box-shadow: inset 0 0 20px yellow;
  /* 레이아웃 확인을 위한 임시 높이 지정 */
  height: 200px;
}

.footer-container {
  font-size: 12px;
  color: #aaaaaa;
  letter-spacing: 0.24em;
  margin: 30px 0 40px 0;
}
