/* CSS Resets */
body {
  margin: unset;
}

img {
  vertical-align: bottom;
}

/* Design */
.wrapper {
  box-shadow: inset 0 0 20px red;
  width: 960px;
  margin: 60px auto;
}

.header {
  box-shadow: inset 0 0 20px blue;
}

.header .icon {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 50%;
  text-align: center;
  line-height: 200px;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 2.5px;
}

.header .icon:hover {
  text-indent: -9999px;
}

.header .icon.logo {
  background-image: url("./images/logo.png");
  text-indent: -9999px;
}

.header .icon.lemon {
  color: yellow;
}
.header .icon.lemon:hover {
  background-image: url("./images/lemon.png");
}

.header .icon.orange {
  color: orange;
}
.header .icon.orange:hover {
  background-image: url("./images/orange.png");
}

.header .icon.jamong {
  color: orangered;
}
.header .icon.jamong:hover {
  background-image: url("./images/jamong.png");
}

.main {
  box-shadow: inset 0 0 20px green;
  background-image: url("./images/contents-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}

.footer {
  box-shadow: inset 0 0 20px yellow;
  height: 60px;
  text-align: right;
  line-height: 60px;
  padding-right: 30px;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 4px;
}
