/* CSS Resets  */
body,
p {
  margin: unset;
}

h1,
h2 {
  font-size: unset;
  font-weight: unset;
  margin: unset;
}

/* Layouts */
.l_wrapper {
  width: 960px;
  margin: 0 auto;
}

/* Components */
body {
  background-color: #eeeeee;
}

.food-header {
  padding: 30px 0 80px 0;
  background-image: url("./images/cover2.png");
  background-position: -30px;
}

.food-header h1 {
  font-size: 70px;
  font-weight: 800;
  color: #999999;
  margin-bottom: 20px;
  line-height: 0.9em;
}

.food-header h1 span {
  color: #7b9a9f;
}

.food-header .food-header-btn {
  background-color: #7b9a9f;
  padding: 6px 20px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 13px;
}

.food-contents {
  padding: 50px 0 200px;
  display: flex;
  justify-content: space-between;
}

.food-contents-item {
  width: 300px;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(128, 128, 128, 0.332);
}

.food-contents-item img {
  width: 100%;
}

.food-contents-item .item-info {
  padding: 20px 20px;
}

.food-contents-item .item-info h2 {
  font-size: 35px;
  font-weight: 700;
  color: #777777;
  margin-bottom: 10px;
}

.food-contents-item .item-info p {
  color: #777777;
}
