/* CSS Resets */
body,
ul {
  margin: unset;
  padding: unset;
}

h1 {
  font-size: unset;
  font-weight: unset;
  margin: unset;
}

ul {
  list-style-type: none;
}
/* Design */
:root {
  font-family: Arial;
}

body {
  background-color: #d9d9d9;
}

.wrapper {
  box-shadow: inset 0 0 20px red;
  width: 448px;
  margin: 110px auto;
}

.bucket-list {
  background-color: #eeeeee;
  font-weight: bold;
}

.header {
  padding: 46px 0;
  background-color: #ffffff;
  border-radius: 20px 20px 0 0;
  border-bottom: 4px solid #dddddd;
}

.header h1 {
  font-size: 24px;
  color: #ff007a;
  padding-left: 31px;
  border-left: 8px solid #ff007a;
  line-height: 32px;
}

.contents {
  padding: 36px 38px;
}

.contents-list li {
  width: 372px;
  padding: 15px 0px 15px 14px;
  box-sizing: border-box;
  margin-bottom: 14px;
  background-color: #ffffff;
  border: 4px solid #d9d9d9;
  border-radius: 10px;
  color: #888888;
}
