/* CSS Resets */
body,
ul {
  margin: unset;
  padding: unset;
}

h1 {
  font-size: unset;
  font-weight: unset;
  margin: unset;
}

ul {
  list-style-type: none;
}

/* Design */
:root {
  font-family: Arial;
}

body {
  background-color: #d9d9d9;
}

.wrapper {
  width: 448px;
  margin: 110px auto;
}

.bucketlist {
  background-color: #eeeeee;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.bucketlist-header {
  padding: 46px 0;
  background-color: #ffffff;
  border-bottom: 4px solid #dddddd;
}

.bucketlist-header h1 {
  font-size: 24px;
  color: #ff007a;
  padding-left: 31px;
  border-left: 8px solid #ff007a;
  line-height: 32px;
}

.bucketlist-contents {
  padding: 36px 38px 38px;
}

.lists li {
  width: 372px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 14px;
  background-color: #ffffff;
  border: 4px solid #d9d9d9;
  border-radius: 10px;
  color: #888888;
}

.lists .list-selected {
  border: 4px solid #759cff;
  color: #759cff;
  background-image: url("./images/check.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.lists li:last-child {
  margin: 0;
}
