/* Reset */
body {
  margin: unset;
}

img {
  max-width: 100%;
  vertical-align: top;
}

h1 {
  font-size: unset;
  font-weight: unset;
  margin: unset;
}

/* Typography */
:root {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  line-height: 1.6;
}

body {
  font-size: 1.4rem;
}

/* Components */
.container {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.circle {
  margin: auto;
  width: 300px;
  aspect-ratio: 1/1;
  box-shadow: inset 0 0 20px;
  color: rebeccapurple;
  position: relative;
}

.circle-title {
  font-size: 3.2rem;
  font-weight: 600;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.wheel {
  position: absolute;
  inset: 0;
  box-shadow: inset 0 0 20px red;
}

.wheel-item {
  width: 80px;
  height: 80px;
  position: absolute;
  inset: 0;
  margin: auto;
}

.wheel-item:nth-child(1) {transform: rotate(calc(45deg * 0)) translateY(-300px)}
.wheel-item:nth-child(2) {transform: rotate(calc(45deg * 1)) translateY(-300px)}
.wheel-item:nth-child(3) {transform: rotate(calc(45deg * 2)) translateY(-300px)}
.wheel-item:nth-child(4) {transform: rotate(calc(45deg * 3)) translateY(-300px)}
.wheel-item:nth-child(5) {transform: rotate(calc(45deg * 4)) translateY(-300px)}
.wheel-item:nth-child(6) {transform: rotate(calc(45deg * 5)) translateY(-300px)}
.wheel-item:nth-child(7) {transform: rotate(calc(45deg * 6)) translateY(-300px)}
.wheel-item:nth-child(8) {transform: rotate(calc(45deg * 7)) translateY(-300px)}