/* CSS Resets */
body {
  margin: unset;
}

img {
  vertical-align: bottom;
}

/* Layouts */
.l_wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: inset 0 0 20px purple;
}

.header {
  box-shadow: inset 0 0 20px red;
}

.header-container {
  display: flex;
  height: 180px;
  align-items: center;
}

.header-container .header-logo {
  width: 200px;
}

.header-container p {
  color: #999999;
  display: flex;
  align-items: center;
}

.header-container p::before {
  content: "";
  display: inline-block;
  width: 64px;
  height: 1px;
  background-color: currentColor;
  margin: 0 20px 0 30px;
}

.header-container .header-character {
  width: 140px;
  margin-left: auto;
  margin-top: auto;
}

.main {
  box-shadow: inset 0 0 20px yellow;
}

.footer {
  box-shadow: inset 0 0 20px blue;
}
