/* CSS Resets */
body,
p,
ul {
  margin: unset;
  padding: unset;
}

h1,
h2,
h3,
h4 {
  margin: unset;
  padding: unset;
  font-size: unset;
  font-weight: unset;
}

li {
  list-style: none;
}

img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: unset;
}

/* Layouts */
.l_wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: inset 0 0 20px purple;
}

/* Typography */
:root {
  font-family: "arial";
}

/* Components */
.header {
  background-color: #111111;
}

.header-container {
  display: flex;
  height: 180px;
  align-items: center;
}

.header-container .header-logo {
  width: 200px;
}

.header-container p {
  color: #999999;
  display: flex;
  align-items: center;
}

.header-container p::before {
  content: "";
  display: inline-block;
  width: 64px;
  height: 1px;
  background-color: currentColor;
  margin: 0 20px 0 30px;
}

.header-container .header-character {
  width: 140px;
  margin-left: auto;
  margin-top: auto;
}

.main {
  background-color: #000000;
}

.main-container {
  padding: 24px 0;
  /* min-height: 600px; 레이아웃 잘 보이기 위해 임시로 넣어둠 */
  display: flex;
  gap: 24px;
}

.main-container .main-contents ul {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 24px;
}

.main-contents .movie-card {
  width: 320px;
  min-height: 412px;
  background-color: #222222;
  border-radius: 16px;
  overflow: hidden;
}

.movie-card img {
  width: 100%;
}

.movie-card .movie-info {
  /* margin: 20px 20px 30px; */
  padding: 10px;
}

.movie-info .movie-desc {
  padding: 10px 10px 20px;
  margin-bottom: 30px;
}

.movie-info h2 {
  font-weight: bold;
  color: #ebb3bb;
  margin-bottom: 12px;
}

.movie-info p {
  font-size: 12px;
  color: #999999;
}

.movie-info .watch-btn {
  width: auto;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #ff0000;
  font-weight: bold;
  letter-spacing: 0.2em;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #111111;
}

.main-container .main-sidebar {
  /* box-shadow: inset 0 0 20px blue; */
  min-width: 168px;
  color: #999999;
  background-color: #000000;
}

.main-sidebar .genre {
  /* box-shadow: inset 0 0 20px red; */
  display: flex;
  height: 31px;
  gap: 9px;
  background-color: inherit;
}

.genre img {
  width: 16px;
  height: 16px;
}

.main-sidebar .genre-selected {
  /* box-shadow: inset 0 0 20px gold; */
  padding: 8px 0 15px 10px;
  border-top: 1px solid #fa8073;
  background-color: #111111;
}

.genre-selected h4 {
  margin-bottom: 21px;
  font-size: 14px;
  color: #fa8073;
}

.genre-selected li {
  margin-left: 9px;
  font-size: 12px;
  border-bottom: 1px solid #333333;
  min-height: 25px;
  display: flex;
  align-items: center;
}

.genre-selected li:last-child {
  border-bottom: none;
}

.footer {
  background-color: #111111;
}

.footer-container {
  min-height: 77px;
  display: flex;
  align-items: center;
  color: #666666;
}
